<div class="wrongLetter" ng-show="game.wrong"></div>

<div class="visible" id="headding" ng-show ="game.visibleGameTitle">
  <p>Halloween Hangman!</p>
</div>

<h1 class="visible" id="WinLose" ng-show ="game.visibleWin">You Got it!</h1>
<h1 class="visible" id="WinLose" ng-show ="game.visibleLose">Ack!!! The Ghost Ate Your Brain!</h1>

<div class="visible" ng-show ="game.visiblePlayButton">
    <button id="playButton" class="btn btn-warning" ng-click="game.secretWindow()">Play!</button>
</div>

<div class="visible" id="gameBoard" ng-show ="game.visibleGameBoard">
  <div id="letters">
    <div class="box"  ng-repeat="letter in game.alpha"
                      ng-click="game.showLetter(letter)"
                      ng-hide="letter.hidden">{{letter.chr}}
    </div>
  </div>

  <div id="phrase">
    <table style="margin: 0px auto;">
      <tr>
        <td class="secret"  ng-repeat="letter in game.secretDisplay track by $index"
                            ng-show="letter.hidden">{{letter.chr}}
          <div class="underline" ></div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div id="ghost">
  <div id="inTheMachine">
    <div id="one" ng-show="game.visibleOne"></div>
    <div id="two" ng-show="game.visibleTwo"></div>
    <div id="three" ng-show="game.visibleThree"></div>
    <div id="four" ng-show="game.visibleFour"></div>
    <div id="five" ng-show="game.visibleFive"></div>
    <div id="six" ng-show="game.visibleSix"></div>
  </div>
</div>



<!-- HTML to be called by Modal -->
<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
      <h3 class="modal-title">Enter Secret word!</h3>
    </div>

    <div class="modal-body">
    <input  type="text" class="form-control" name="inputWindow"
            id="inputWindow" ng-model="modal.secretPhrase"
            ng-keyup="modal.hitEnter($event)" autofocus required>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="modal.play()">OK</button>
      <button class="btn btn-warning" ng-click="modal.cancel()">Cancel</button>
  </div>
</script>



