html {
  text-align: center;
  background: url(halloween.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.headding {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#020202), color-stop(100%,#48595e));
  font-family: 'Aladin', cursive;
  font-size: 4em;
  color: green;
}

#playButton {
  position: fixed;
  top: 120px;
  left: 195px;
  font-size: 3em;
}

#letters {
  position: fixed;
  left: 50px;
  top: 200px;
  height: 400px;
  width: 400px;
}

#canvas {
  position: fixed;
  background: rgba(0,0,0,.7);
  right: 25px;
  top: 100px;
  height: 550px;
  width: 500px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 3px 4px rgba(0,42,168,.7);
  border: 50px;
  border-color: rgba(0,0,0,1);
}

rect {
  fill: black;
}
circle {
  fill: black;
}
polyline {
  fill: black;
}

#phrase {
  position: fixed;
  left: 25px;
  right: 25px;
  bottom: 10px;
  height: 100px;
}

.box {
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ea8800), color-stop(100%,#8e4200));  height: 60px;
  width: 60px;
  font-family: 'Slabo 13px', serif;
  font-size: 3em;
  color: #692d12;
  margin: 4px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px 3px #2e150a;
  -webkit-transition: 0.15s linear all;
  display: inline-block;
  cursor: pointer;
  opacity: 1;
}

.box.ng-hide {
  background: #ffebeb;
  margin: 4px;
  display: inline-block!important;
  cursor: pointer;
  opacity: 0;
}

.secret {
  position: relative;
  color: #ffa71a;
  font-family: 'Coustard', serif;
  font-size: 4.5em;
  width: 80px;
  cursor: pointer;
}

.secret.ng-hide {
  display: inline-block!important;
  color: transparent;
  cursor: pointer;
}

.underline {
  position: fixed;
  bottom: 20px;
  background: rgba(255, 230, 5, .7);
  -webkit-box-shadow: 1px 1px 2px 2px rgba(255, 250, 179, 1);
  height:10px;
  width:70px;
  cursor: pointer;
}

.modal {
  display: block;
}

/* Custom dialog/modal headers */
.modal-header { background-color: #ffbd2e; }
.modal-footer { background-color: #c7ffd2; }
.modal-header span, .modal-header h4 { color: #ffffff; }

/* Ease Display */
.pad { padding: 25px; }









