<div class="headding">
  <p>Halloween Hangman!</p>
</div>

<div class="word" ng-show ="inputVisible">
  <span class="word-group">
    <input autofocus type="text" class="form-control" placeholder="Secret Word" ng-model ="secretInput">
    <button class="btn btn-danger" ng-click="secretWindow()">Play Your Secret Word!</button>
  </span>
</div> <!-- makeSecretWord(secretInput) -->


<div id="letters">
  <div class="box"  ng-repeat="letter in alpha"
                    ng-click="showLetter(letter)" ng-hide="letter.hidden">{{letter.chr}}</div>
</div>

<div id="phrase">
  <table style="margin: 0px auto;">
    <tr>
      <td class="secret" ng-repeat="letter in secretDisplay track by $index" ng-show="letter.hidden">{{letter.chr}}
        <div class="underline"></div>
      </td>
    </tr>
  </table>
</div>

  <svg id="canvas">
    <line id="torso" x1="200" y1="200" x2="200" y2="300" style="stroke:cyan;stroke-width:10"></line>
    <line id="leftArm" x1="200" y1="220" x2="100" y2="100" style="stroke:cyan;stroke-width:10"></line>
    <line id="rightArm" x1="200" y1="220" x2="300" y2="220" style="stroke:cyan;stroke-width:10"></line>
    <line id="leftLeg" x1="200" y1="300" x2="100" y2="400" style="stroke:cyan;stroke-width:10"></line>
    <line id="rightLeg" x1="200" y1="300" x2="300" y2="400" style="stroke:cyan;stroke-width:10"></line>
    <circle cx="200" cy="150" r="50" style="stroke:cyan;stroke-width:10"></circle>
  </svg>


